@media screen and (max-width:900px) {
    #navbar_mobile {
        display: flex;
    }
    #navbar {
        display: none;
    }
}
@media screen and (min-width:901px) {
    #navbar_mobile {
        display: none;
    }
    #navbar {
        display: flex;
    }
}

#navbar {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
    
    backdrop-filter: blur(10px);
}
#home {
    position: absolute;
    left: 3vw;
    font-size: 2.5vw;
    font-weight: bolder;
    text-decoration: none;

    transition: all 300ms;
}
#navbar #home {
    color: white;
    font-size: 2.5vw;
}
#home:visited {
    text-decoration: none;
    color: white;
}
#home:hover {
    color: rgb(200, 200, 200);
}
#navbar nav {
    font-size: 2vw;
    font-weight: lighter;
}
#navbar nav a {
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    color: rgb(182, 182, 182);

    transition: all 300ms;
}
#navbar nav a:visited {
    text-decoration: none;
}
#navbar nav a:hover {
    color: var(--accent-color);
}


/* MOBILE NAV MENU */
/* Container for the hamburger icon */
#navbar_mobile {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
    
    backdrop-filter: blur(10px);
}
#navbar_mobile #home {
    color: white;
    font-size: 7vw;
}
.hamburger {
    position: absolute;
    right: 2vw;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  /* Each line of the hamburger */
  .hamburger span {
    display: block;
    height: 4px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  /* Transformations for active state (menu open) */
  .hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  #navbar_mobile_options {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 92vh;
    top: 8vh;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 8vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);

    backdrop-filter: blur(10px);
  }
  #navbar_mobile_options a {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 8vw;
    text-decoration: none;
    color: rgb(182, 182, 182);

    transition: all 300ms;
}
#navbar_mobile_options a:visited {
    text-decoration: none;
}
#navbar_mobile_options a:hover {
    color: var(--accent-color);
}