@media screen and (max-width:900px) {
    #main {
        flex-direction: column;
    }
    #device {
        width: 80%;
    }
    #device .name {
        font-size: 10vw;
        margin-top: 0;
        margin-bottom: 1.5vh;
    }
    #device .desc {
        font-size: 5vw;
        margin-top: 0;
        margin-bottom: 2vh;
    }
    #device img {
        height: 40vw;
        width: auto;
    }

    #interface {
        width: 50%;
        margin-top: -5vh;
    }
    #upload-form label {
        width: 100%;
        margin-bottom: 3vh;
        padding: 3vw 3vh 3vw 3vh;
        font-size: 4vw;
        border-width: 0.5vw;
    }
    #upload-form #text-input {
        font-size: 3vw;
    }

    #interface p {
        font-size: 4vw;
    }
    #control_panel label {
        font-size: 3vw;
    }
    #control_panel output {
        font-size: 3vw;
    }
}
@media screen and (min-width:901px) {
    #main {
        flex-direction: row;
    }
    #device {
        width: 50%;
    }
    #device .name {
        font-size: 4vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    #device .desc {
        font-size: 2vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    #device img {
        height: 20vw;
        width: auto;
    }

    #interface {
        width: 50%;
    }
    #upload-form label {
        width: 75%;
        margin-bottom: 3vh;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        font-size: 2vw;
        border-width: 0.2vw;
    }
    #upload-form #text-input {
        font-size: 2vw;
    }

    #interface p {
        font-size: 2vw;
    }
    #control_panel label {
        font-size: 1.25vw;
    }
    #control_panel output {
        font-size: 1.25vw;
    }
}

body {
    background-color: white;
}
#navbar {
    background-color: rgba(255, 255, 255, 0.533);
}
#navbar #home {
    color: black;
}

#main {
    width: 100%;
    position: absolute;
    height: 92vh;
    top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#device {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: white;

    transition: all 0.3s;
}
#device .name {
    font-weight: normal;
    color: var(--accent-color);
    text-decoration: none;

    transition: all 0.3s;
}
#device .desc {
    font-weight: lighter;
    color: black;
}

#interface {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#interface p {
    margin-top: 5vh;
    margin-bottom: 0;
    border-bottom: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: black;
}
#upload-form {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#upload-form #preview {
    display: none;
    width: 50%;
    height: auto;
}
#upload-form #image-input {
    display: none;
}
#upload-form label {
    display: block;
    border-style: solid;
    letter-spacing: 0.125vw;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border-color: white;

    transition: all 0.3s;
}
#upload-form label:hover {
    color: black;
    background-color: white;
    border-color: black;
}
#upload-form label:active {
    color: black;
    background-color: white;
    border-color: white;
}

#upload-form #message-form {
    display: flex;
    align-items: center;
}
#upload-form #text-input {
    border: none;
    caret-color: black;
    background-color: white;
    color: black;
}
#upload-form #text-input::placeholder {
    color: rgb(175, 175, 175);
    font-weight: lighter;
    opacity: 1; /* Firefox */
}
#upload-form #text-input:focus {
    outline: none;
}
#upload-form #text-submit {
    background: none;
	color: gray;
    font-size: 1.5vw;
	border: none;
	cursor: pointer;
	outline: inherit;
    display: none;
}

#control_panel {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#control_panel .control {
    width: 100%;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#control_panel #brightness {
    margin-left: 2vw;
    margin-right: 2vw;
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
}
#control_panel #brightness::-webkit-slider-runnable-track {
    background-color: black;
    height: 50%;
}
#control_panel #brightness::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 2vh;
    width: 1vw;
    border: solid black 0.2vw;
    margin-top: -0.5vh;
}

/* The switch - the box around the slider */
#control_panel .switch {
margin-left: 2vw;
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
#control_panel .switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
#control_panel .slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

#control_panel .slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

#control_panel input:checked + .slider {
background-color: var(--accent-color);
}

#control_panel input:focus + .slider {
box-shadow: 0 0 1px var(--accent-color);
}

#control_panel input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
