@media screen and (max-width:900px) {
    #device {
        padding: 9vh 15vw 9vh 15vw;
    }
    #device .name {
        font-size: 8vw;
        margin-top: 0;
        margin-bottom: 1.5vh;
    }
    #device .desc {
        font-size: 3vw;
        margin-top: 0;
        margin-bottom: 2vh;
    }
    #device button {
        font-size: 6vw;
        margin-top: 2vh;
        margin-bottom: 0;
    }
}
@media screen and (min-width:901px) {
    #device {
        padding: 3vh 5vw 3vh 5vw;
    }
    #device .name {
        font-size: 4vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    #device .desc {
        font-size: 2vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    #device button {
        font-size: 3vw;
        margin: 0;
    }
}

body {
    background-color: white;
}

#main {
    width: 100%;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main img {
    width: 80vw;
    height: auto;
}
#hero {
    width: 100%;
    text-align: center;
}
#hero h1 {
    color: black;
    font-size: 4vw;
    margin-bottom: 0;
    position: relative;
    font-weight: lighter;
}

#device {
    margin-top: 8vh;
    margin-bottom: 8vh;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: white;
    border: black solid 0.2vw;

    transition: all 0.3s;
}
#device:hover {
    filter: drop-shadow(2px 2px 30px rgba(0, 0, 0, 0.712));
    border-color: var(--accent-color);
    cursor: pointer;
}
#device:hover > button {
    color: var(--accent-color);
}
#device .name {
    font-weight: normal;
    color: var(--accent-color);
}
#device .desc {
    font-weight: lighter;
    color: black;
}
#device img {
    height: 20vw;
    width: auto;
}
#device button {
    background: none;
    padding: 0;
    border: none;
	color: black;
	cursor: pointer;
	outline: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
}